# =========================
# ENV FILES (IMPORTANT)
# =========================
.env
.env.local
.env.*


# =========================
# PYTHON (FastAPI)
# =========================
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/


# =========================
# NODE / NEXT.JS
# =========================
node_modules/
.next/
out/
dist/


# =========================
# LOG FILES
# =========================
*.log


# =========================
# OS FILES (MAC)
# =========================
.DS_Store
